#root {
  margin: 0 auto;
}

.header {
  text-align: center;
}

.videoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .content {
    margin-top: 40px;
    margin: 30px;
  }
}
@media only screen and (min-width: 800px) {
  .content {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
