@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  font-family: Lato, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;

  color-scheme: light dark;
  color: #333;
  background-color: #FFe0eB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Satisfy', cursive;
  font-size: 7em;
  line-height: 1.1;
  font-weight: 400;
}

h2 {
  margin-top: 40px;
  margin-bottom: 0;
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 400;
}

video {
  width: 100%;
  max-width: 1600px;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
